<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.dal.cs.scavenger">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <application
        android:name="ca.dal.cs.scavenger.ScavengerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Lobby" />
         <activity android:name=".UserProfile" />
        <activity android:name=".Preferences" />
        <activity android:name=".BuildChallenge" />
        <activity android:name=".DoChallenge" />
        <activity android:name=".ViewChallenge" />
        <activity android:name=".VerifyChallenge" />
        <activity android:name=".CreateCameraTask" />
        <activity android:name=".CreateAudioTask" />
        <activity android:name=".CreateLocationTask" />
        <activity android:name=".CompleteCameraTask" />
        <activity android:name=".CompleteAudioTask" />
        <activity android:name=".CompleteLocationTask" />
        <activity android:name=".VerifyCameraTask" />
        <activity android:name=".VerifyAudioTask" />
        <activity android:name=".UserAreaActivity" />
        <activity android:name=".VerifyLocationTask" />
    </application>

</manifest>